spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
logging:
  level:
    root: debug
    # 실행되는 SQL 출력
    org.hibernate.SQL: debug
    # 바인딩되는 파라미터 출력
    org.hibernate.orm.jdbc.bind: debug



# swagger config
# https://springdoc.org/#properties
springdoc:
  api-docs:
    # OpenAPI 명세서 경로(JSON)
    path: /v3/api-docs
  swagger-ui:
    # OpenAPI 명세서 경로(HTML)
    path: /swagger-ui.html
    # 요청 응답 시간 표시
    display-request-duration: true
    # API 정렬 기준
    operations-sorter: method   # HTTP 메서드의 알파벳 기준
  #    operations-sorter: alpha    # Java 메서드의 알파벳 기준


discodeit:
  storage:
    type: local
    path: .discodeit/storage

# Spring Boot Actuator 설정
management:
  endpoints:
    web:
      exposure:
        # 개발 시에는 편의를 위해 모든 엔드포인트 노출
        include: "health,info,metrics,loggers"
  endpoint:
    health:
      # DB 연결 상태, 디스크 용량 등 상세 정보를 항상 표시
      show-details: always
      show-components: always
    loggers:
      access: unrestricted # loggers 엔드포인트를 인증 없이 누구나 접근 가능하도록 설정
      # access: read_only   # loggers 엔드포인트를 읽기 전용으로 허용 (로그 레벨 변경 불가)
      # access: none        # loggers 엔드포인트 접근 완전 차단