spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit?currentSchema=discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver
    # PostgreSQL createClob() 경고 메시지 제거
    hikari:
      connection-init-sql: SET SESSION hibernate.jdbc.lob.non_contextual_creation=true
  # jpa config
  jpa:
    hibernate:
      ddl-auto: none
    generate-ddl: false
    database: PostgreSQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100 # N + 1 쿼리 묶음 100개
logging:
  level:
    root: info
    # 실행되는 SQL 출력
    org.hibernate.SQL: warn
    # 바인딩되는 파라미터 출력
    org.hibernate.orm.jdbc.bind: warn