spring:
  profiles:
    active: dev
    group:
      dev: "dev"
      prod: "prod"
  application:
    name: discodeit
  servlet:
    multipart:
      maxFileSize: 10MB # 파일 하나의 최대 크기
      maxRequestSize: 30MB  # 한 번에 최대 업로드 가능 용량
  boot:
    admin:
      client:
        instance:
          name: discodeit

# 애플리케이션 정보 (Actuator info 엔드포인트용)
# info: 로 시작하면 Actuator가 알아서 내용 가져간다고함
info:
  app:
    name: Discodeit
    version: 1.7.0
  java:
    version: 17
  spring-boot:
    version: 3.4.0

  # 주요 설정 정보
  # 환경 변수(${})들은 -dev, -prod에서 알아서 가져오게 됨
  configuration:
    datasource:
      url: ${spring.datasource.url}
      driver-class-name: ${spring.datasource.driver-class-name}
    jpa:
      ddl-auto: ${spring.jpa.hibernate.ddl-auto}
    storage:
      type: ${discodeit.storage.type}
      path: ${discodeit.storage.local.root-path}
    multipart:
      max-file-size: ${spring.servlet.multipart.max-file-size}
      max-request-size: ${spring.servlet.multipart.max-request-size}

# Actuator에서 위 정보를 노출하도록 활성화 (이걸 안 쓰면 출력이 안 됨)
management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,loggers"