server:
  port: 80

spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_URL_PROD}/${POSTGRES_DB_PROD}
    username: ${POSTGRES_USER_PROD}
    password: ${POSTGRES_PASSWORD_PROD}
  jpa:
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    com.sprint.mission.discodeit: info
    org.hibernate.SQL: info

management:
  endpoint:
    health:
      show-details: never
  info:
    env:
      enabled: false