spring:
  datasource:
    # 추후 배포때 채워넣기
    url: jdbc:postgresql://${}:5432/discodeit?currentSchema=discodeit
    username: ${}
    password: ${}
    driver-class-name: org.postgresql.Driver
    # PostgreSQL createClob() 경고 메시지 제거
    hikari:
      connection-init-sql: SET SESSION hibernate.jdbc.lob.non_contextual_creation=true
  # jpa config
  jpa:
    hibernate:
      ddl-auto: validate
    generate-ddl: false
    database: PostgreSQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100 # N + 1 쿼리 묶음 100개
logging:
  level:
    root: info
    # 실행되는 SQL 출력
    org.hibernate.SQL: info
    # 바인딩되는 파라미터 출력
    org.hibernate.orm.jdbc.bind: info

springdoc:
  api-docs:
    enabled: false  # JSON 명세서 비활성화
  swagger-ui:
    enabled: false  # HTML 화면 비활성화

# Spring Boot Actuator 설정
management:
  endpoints:
    web:
      exposure:
        # 운영에서는 모니터링에 꼭 필요한 엔드포인트만 노출
        # 보통 loggers는 보안상 제외하거나 별도의 인증 장치를 둔다고 함
        include: "health,info,metrics"
  endpoint:
    health:
      # 운영에서는 서버가 살았는지 죽었는지만 확인 (상세 정보 비공개)
      show-details: never
      show-components: always
    loggers:
      access: none        # loggers 엔드포인트 접근 완전 차단

# 추후 AWS에 파일 저장할때 경로
discodeit:
  storage:
    type: s3
    path: discodeit-storage-bucket